.icon { background-image: url(~sprite.png); background-size: 1520px 911px;}
.icon-addr { width: 50px; height: 50px; background-position: -1435px -555px; }
.icon-card-nouse { width: 688px; height: 216px; background-position: 0px -555px; }
.icon-cc { width: 62px; height: 80px; background-position: -852px -436px; }
.icon-ccc { width: 54px; height: 54px; background-position: -1174px -436px; }
.icon-detail { width: 120px; height: 120px; background-position: 0px -791px; }
.icon-gddw-gps { width: 15px; height: 22px; background-position: -1505px -555px; }
.icon-header-back { width: 60px; height: 60px; background-position: -934px -436px; }
.icon-header-more { width: 60px; height: 60px; background-position: -1094px -436px; }
.icon-header-share { width: 60px; height: 60px; background-position: -1014px -436px; }
.icon-login-bg { width: 750px; height: 535px; background-position: 0px 0px; }
.icon-login-logo { width: 168px; height: 168px; background-position: -1051px -555px; }
.icon-map-yellow { width: 62px; height: 80px; background-position: -770px -436px; }
.icon-mobile { width: 50px; height: 50px; background-position: -140px -791px; }
.icon-quexingtu { width: 323px; height: 182px; background-position: -708px -555px; }
.icon-shop-textline { width: 111px; height: 18px; background-position: -1248px -436px; }
.icon-shop { width: 750px; height: 416px; background-position: -770px 0px; }
.icon-tele { width: 50px; height: 50px; background-position: -1435px -625px; }
.icon-xiugai { width: 176px; height: 154px; background-position: -1239px -555px; }